 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/image20.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 735px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 123px auto 0;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin: 80px auto 60px 0;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 7.5px));
  min-height: 314px;
  grid-gap: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-icon-1 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
  padding: 26px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px 0 0 4px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-icon-2 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
  padding: 26px;
}

.u-section-1 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px 0 0 4px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-icon-3 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
  padding: 26px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px 0 0 4px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px 0;
}

.u-section-1 .u-icon-4 {
  height: 106px;
  width: 106px;
  background-image: none;
  margin: 0 auto;
  padding: 26px;
}

.u-section-1 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 3px;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 18px 0 0 4px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 606px;
  }

  .u-section-1 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 259px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-2 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-icon-3 {
    color: rgb(0, 0, 0) !important;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 464px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 5px));
    min-height: 794px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 348px;
  }

  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 219px;
  }
} .u-section-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("images/image19.png");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 750px;
}

.u-section-2 .u-list-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15px));
  min-height: 504px;
  grid-gap: 30px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 20px;
}

.u-section-2 .u-group-1 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 20px;
}

.u-section-2 .u-group-2 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-3 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px 20px;
}

.u-section-2 .u-group-3 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-5 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-6 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-container-layout-7 {
  padding: 30px 20px;
}

.u-section-2 .u-group-4 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-7 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-8 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-container-layout-9 {
  padding: 30px 20px;
}

.u-section-2 .u-group-5 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-9 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-10 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-container-layout-11 {
  padding: 30px 20px;
}

.u-section-2 .u-group-6 {
  width: 79px;
  min-height: 79px;
  margin: 0 auto 0 0;
}

.u-section-2 .u-text-11 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 0 auto;
}

.u-section-2 .u-text-12 {
  font-size: 1.875rem;
  margin: -79px 0 0 121px;
}

.u-section-2 .u-text-13 {
  margin: -828px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 618px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 416px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-2 .u-text-10 {
    width: auto;
    margin-left: 109px;
  }

  .u-section-2 .u-text-12 {
    width: auto;
    margin-left: 109px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 473px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 355px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-2 .u-text-2 {
    margin-top: -79px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-4 {
    margin-top: -79px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-6 {
    margin-top: -79px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-8 {
    margin-top: -79px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-10 {
    margin-top: -79px;
    margin-left: 117px;
  }

  .u-section-2 .u-text-12 {
    margin-top: -79px;
    margin-left: 117px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 224px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-6 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-10 {
    margin-top: 20px;
    margin-left: 0;
  }

  .u-section-2 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-text-12 {
    margin-top: 20px;
    margin-left: 0;
  }
}